# Introduction
**This will be your workspace for the [Machine Learning course](https://www.kaggle.com/learn/machine-learning).**

You will need to translate the concepts to work with the data in this notebook, the Iowa data. Each page in the Machine Learning course includes instructions for what code to write at that step in the course.

# Write Your Code Below

In [1]:
import pandas as pd

main_file_path = '../input/house-prices-advanced-regression-techniques/train.csv' # this is the path to the Iowa data that you will use
data = pd.read_csv(main_file_path)

# Run this code block with the control-enter keys on your keyboard. Or click the blue botton on the left
print('Some output from running this cell')

Some output from running this cell


**If you have any questions or hit any problems, come to the [Learn Discussion](https://www.kaggle.com/learn-forum) for help. **

**Return to [ML Course Index](https://www.kaggle.com/learn/machine-learning)**

In [2]:
data.describe()

                Id   MSSubClass      ...             YrSold      SalePrice
count  1460.000000  1460.000000      ...        1460.000000    1460.000000
mean    730.500000    56.897260      ...        2007.815753  180921.195890
std     421.610009    42.300571      ...           1.328095   79442.502883
min       1.000000    20.000000      ...        2006.000000   34900.000000
25%     365.750000    20.000000      ...        2007.000000  129975.000000
50%     730.500000    50.000000      ...        2008.000000  163000.000000
75%    1095.250000    70.000000      ...        2009.000000  214000.000000
max    1460.000000   190.000000      ...        2010.000000  755000.000000

[8 rows x 38 columns]

In [5]:
print(data.columns)

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [7]:
price = data["SalePrice"]
print(price.head())

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [15]:
area_col = ['Street', 'Alley', 'Neighborhood']
area = data[area_col]
print(area.tail())

     Street Alley Neighborhood
1455   Pave   NaN      Gilbert
1456   Pave   NaN       NWAmes
1457   Pave   NaN      Crawfor
1458   Pave   NaN        NAmes
1459   Pave   NaN      Edwards

In [16]:
area.describe()

       Street Alley Neighborhood
count    1460    91         1460
unique      2     2           25
top      Pave  Grvl        NAmes
freq     1454    50          225

In [40]:
y = price
pred = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']
x = data[pred]
print(x)

      LotArea  YearBuilt      ...       BedroomAbvGr  TotRmsAbvGrd
0        8450       2003      ...                  3             8
1        9600       1976      ...                  3             6
2       11250       2001      ...                  3             6
3        9550       1915      ...                  3             7
4       14260       2000      ...                  4             9
5       14115       1993      ...                  1             5
6       10084       2004      ...                  3             7
7       10382       1973      ...                  3             7
8        6120       1931      ...                  2             8
9        7420       1939      ...                  2             5
10      11200       1965      ...                  3             5
11      11924       2005      ...                  4            11
12      12968       1962      ...                  2             4
13      10652       2006      ...                  3             7
14      10920       1960      ...                  2             5
15       6120       1929      ...                  2             5
16      11241       1970      ...                  2             5
17      10791       1967      ...                  2             6
18      13695       2004      ...                  3             6
19       7560       1958      ...                  3             6
20      14215       2005      ...                  4             9
21       7449       1930      ...                  3             6
22       9742       2002      ...                  3             7
23       4224       1976      ...                  3             6
24       8246       1968      ...                  3             6
25      14230       2007      ...                  3             7
26       7200       1951      ...                  3             5
27      11478       2007      ...                  3             7
28      16321       1957      ...                  2             6
29       6324       1927      ...                  1             4
...       ...        ...      ...                ...           ...
1430    21930       2005      ...                  4             7
1431     4928       1976      ...                  2             5
1432    10800       1927      ...                  4             5
1433    10261       2000      ...                  3             8
1434    17400       1977      ...                  3             5
1435     8400       1962      ...                  3             7
1436     9000       1971      ...                  3             5
1437    12444       2008      ...                  2             7
1438     7407       1957      ...                  2             6
1439    11584       1979      ...                  3             6
1440    11526       1922      ...                  3            11
1441     4426       2004      ...                  1             3
1442    11003       2008      ...                  3            10
1443     8854       1916      ...                  2             4
1444     8500       2004      ...                  3             7
1445     8400       1966      ...                  3             6
1446    26142       1962      ...                  3             6
1447    10000       1995      ...                  3             8
1448    11767       1910      ...                  2             6
1449     1533       1970      ...                  1             3
1450     9000       1974      ...                  4             8
1451     9262       2008      ...                  3             7
1452     3675       2005      ...                  2             5
1453    17217       2006      ...                  3             6
1454     7500       2004      ...                  2             6
1455     7917       1999      ...                  3             7
1456    13175       1978      ...                  3             7
1457     9042       1941      ...                  4             9
1458     9717       1950      ...                  2             5
1459     9937       1965      ...                  3             6

[1460 rows x 7 columns]

In [41]:
from sklearn.tree import DecisionTreeRegressor

# Define model
iowa_model = DecisionTreeRegressor()

# Fit model
iowa_model.fit(x, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [42]:
print(x.head())
print(iowa_model.predict(x.head()))

   LotArea  YearBuilt      ...       BedroomAbvGr  TotRmsAbvGrd
0     8450       2003      ...                  3             8
1     9600       1976      ...                  3             6
2    11250       2001      ...                  3             6
3     9550       1915      ...                  3             7
4    14260       2000      ...                  4             9

[5 rows x 7 columns]
[ 208500.  181500.  223500.  140000.  250000.]

In [45]:
print(price.head())

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [47]:
from sklearn.model_selection import train_test_split

train_x, val_x, train_y, val_y = train_test_split(x, y, random_state = 0)
iowa_model = DecisionTreeRegressor()

iowa_model.fit(train_x, train_y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [48]:
val_predictions = iowa_model.predict(val_x)
print(mean_absolute_error(val_y, val_predictions))

33280.2986301

In [49]:
def get_mae(max_leaf_nodes, predictors_train, predictors_val, targ_train, targ_val):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(predictors_train, targ_train)
    preds_val = model.predict(predictors_val)
    mae = mean_absolute_error(targ_val, preds_val)
    return(mae)

for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_x, val_x, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  35190
Max leaf nodes: 50  		 Mean Absolute Error:  27825
Max leaf nodes: 500  		 Mean Absolute Error:  32662
Max leaf nodes: 5000  		 Mean Absolute Error:  33382

In [50]:
from sklearn.metrics import mean_absolute_error
pred_price = iowa_model.predict(x)
mean_absolute_error(y, pred_price)

8374.6664383561638

In [53]:
from sklearn.ensemble import RandomForestRegressor

forest = RandomForestRegressor()
forest.fit(train_x, train_y)
pred = forest.predict(val_x)
print(mean_absolute_error(val_y, pred))

24810.4996347